.navbar{
    height: 50px;
    background-color: #3b4948;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.navcontainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
        display: flex;
        justify-content: space-between;
        padding: 14px;
    }
}

.logo{
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;

    @media screen and (max-width: 600px) {
        padding: 3px 5px;
    }
}